
<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel='stylesheet' type="text/css" href = "{% static 'css/bootstrap.min.css %}">
	<script type="text/javascript" src="{% static 'js/bootstarp.min.js %}"></script>
</head>
<body>
	<div class="container">
	<div class="card">
	<div class="card-header big-primary">Register form</div>
	<div clss="card-body">
	<form class= 'form-control' action = "{% url 'register' %}" method= 'POST' >
		{% csrf_token %}
		{{ form.as_p }}
		<table>
			<tr><td>{{ form.stdid }}</td></tr>
			<tr><td>{{ form.stdName }}</td></tr>
			<tr><td>{{ form.branch }}</td></tr>
			<tr><td>{{ form.age }}</td></tr>

		</table>
	</div>
	<div class='card-footer'>
		<input type="submit" name="submit" value = 'Save'>
	</form>
</div>

</body>
</html>